body {
    margin: auto;
    padding: 0;
    background-color: rgb(255,252,246);
}
header > img {
    max-height: 13vh;
    max-width: 26vw;
}
header {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    max-width: 100vw;
    height: 13vh;
    background-color: rgba(255,252,246);
    z-index: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
header > a, #bgimg > section > div > a {
    color: #9d1f09;
    text-decoration: none;
    font-family: "Bricolage Grotesque";
    font-size: 2.5vw;
    padding: 30px;
}
header > a:hover, #bgimg > section > div > a:hover {
    color: black;
    transition: 0.5s;
    margin-top: 2px;
}
#bgimg {
    justify-content: center;
    align-items: center;
    display: block;
    max-width: 100vw;
    max-height: 100vh;
    
}
main > #bgimg > h1 {
    color: white;
    position: absolute;
    font-size: 5vw;
    font-family: serif;
    top: 30vw;
    left: 20%;
}
#bgimg > img {
    height: 100%;
    width: 100%;
    filter: brightness(40%);
    display: inline-block;
}
#head {
    font-size: 5vw;
    justify-content: center;
    color: #9d1f09;
    margin: 50px;
}
.arts {
    max-width: 15vw;
    margin-left:100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#bgimg > section > div > a {
    font-size: 4vw;
    display: flex;
    text-align: center;
    gap: 5vw;
}
section > div > a > img {
    display: flex;
}
section {
    display: block;
    justify-content: center;
    
}
footer {
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url(./assets/footerimg.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
footer > h1,h6 {
    position: relative;
    top: 50%;
    text-align: center;
    color: white;
    font-family: "Bricolage Grotesque";
    font-size: 4vw;
}
footer > h6 {
    font-size: 1.5vw;
}
.form-container {
    padding: 20px;
}
input, textarea {
    width: 300px;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px;
}
#submit {
    background-color: #9d1f09;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border-width: 0px;
    border-style: none;
    border-color: rgb(255, 255, 255);
    display: block;
}
form > input,textarea {
    margin: auto;
    display: block;
}
label {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    color: #9d1f09;
    font-family: "Bricolage Grotesque";
    margin: 10px;
}
#submit {
    margin-top: 10px;
    cursor: pointer;
}
#submit:hover {
    background-color: #570d00;
    transition: 0.5s;
}