body {
    margin: auto;
    padding: 0;
    background-color: rgb(255,252,246);
}
header > img {
    max-height: 12vh;
    max-width: 24vw;
}
header {
    display: flex;
    justify-content: left;
    position: sticky;
    top: 0;
    max-width: 100vw;
    height: 13vh;
    background-color: rgba(255,252,246);
    z-index: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
header > a {
    color: #9d1f09;
    text-decoration: none;
    font-family: "Bricolage Grotesque";
    font-size: 2vw;
    padding: 30px;
}
header > a:hover {
    color: black;
    transition: 0.5s;
    margin-top: 2px;
}
#bgimg {
    justify-content: center;
    align-items: center;
    display: block;
    max-width: 100vw;
    max-height: 100vh;
    
}
main > #bgimg > h1 {
    color: white;
    position: absolute;
    font-size: 5vw;
    font-family: serif;
    top: 30vw;
    left: 20%;
}
#bgimg > img {
    height: 100%;
    width: 100%;
    filter: brightness(40%);
    display: inline-block;
}
#head {
    font-size: 5vw;
    justify-content: center;
    color: #9d1f09;
    margin: 50px;
}
#space > a{
    display: inline;
    justify-content:center;
    align-items:flex-end;
}